
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<title><%= player.name %></title>
<link rel="shortcut icon"  href="//images/.png">
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

<div id="wrapper">

	<div class="row">
    <div class="col-md-3" id="left-sidebar">
        <div id="profile-section" class="row"> 
        	<div class="card">
          	<div id="profile-pic">
              <div class="img-circle">

              </div>
          		
          	</div>
          	<div class="details">
          		<h3><%= player[0].name %></h3>
          		<p><%= player[0].backstory %></p>
              <div class="pow">
                <div class="powfill"></div>
              </div>
          	</div> 
        	</div>      	
        </div>
    	<div id="players-section" class="row"> 
          
          <div class="strip">
              <div class="img-circle"></div>
              <div class="details">
              <h3>Your Name</h3>
              <div class="pow">
                <div class="powfill"></div>
              </div>
            </div> 
          </div>
          <div class="strip">
              <div class="img-circle"></div>
              <div class="details">
              <h3>Your Name</h3>
              <div class="pow">
                <div class="powfill"></div>
              </div>
            </div> 
          </div>

          <div class="strip">
              <div class="img-circle"></div>
              <div class="details">
              <h3>Your Name</h3>
              <div class="pow">
                <div class="powfill"></div>
              </div>
            </div> 
          </div>  



            
        </div>
        	
    </div>
    <div class="col-md-6" id="top-section">
      	<div id="modifiers" class="row"> 
          <div class="col-xs-4 sec sec-1">
              <h1>15</h1>
              <img src="/images/body-building.png">

              <p>Physical Modifier</p>
          </div>
          <div class="col-xs-4 sec sec-2">
               <h1>4</h1>
              <img src="/images/management.png">

              <p>Mentel</p>
          </div>
          <div class="col-xs-4 sec sec-3">
               <h1>2</h1>
              <img src="/images/hold.png">

              <p>Super</p>
          </div>
      	</div>
      	<div id="charts" class="row">   
             <img src="/images/charts.png">   		
      	</div>


      	<div id="cards" class="row"> 
                  <div class="card">
                      <div class="img-circle">
                      </div>
                      <p>Info</p>
                  </div> 
                    <div class="card">
                      <div class="img-circle">
                      </div>
                      <p>Info</p>
                  </div> 
                    <div class="card">
                      <div class="img-circle">
                      </div>
                      <p>Info</p>
                  </div> 

      	</div>


      	<div id="notifications" class="row"> 

            <h2>Notifications</h2> 

            <div id=newsfeed>
              <div class="notification"><h2>Welcome...loading notifications</h2></div>
            </div>


      	</div>
    </div>
    <div class="col-md-3" id="right-sidebar">
      	<div id="equipments" class="row">
          <h4>Equipments</h4>
            <div class="eqi-strip">
              <div class="eqi-img">
                <img src="/images/sword.svg">
              </div>
              <div class="details">
                <h3>Item Name</h3>
                <h4>info</h4>
              </div>
              <div class="info">
                <div class="badge badge-default">
                  <p>2p+</p>
                </div>
                <div class="eqi-type-img">
                  <img src="/images/body-building.png">
                </div>
            </div>
            </div>

             <div class="eqi-strip">
              <div class="eqi-img">
                <img src="/images/sword.svg">
              </div>
              <div class="details">
                <h3>Item Name</h3>
                <h4>info</h4>
              </div>
              <div class="info">
                <div class="badge badge-default">
                  <p>2p+</p>
                </div>
                <div class="eqi-type-img">
                  <img src="/images/body-building.png">
                </div>
            </div>
            </div>

             <div class="eqi-strip">
              <div class="eqi-img">
                <img src="/images/sword.svg">
              </div>
              <div class="details">
                <h3>Item Name</h3>
                <h4>info</h4>
              </div>
              <div class="info">
                <div class="badge badge-default">
                  <p>2p+</p>
                </div>
                <div class="eqi-type-img">
                  <img src="/images/body-building.png">
                </div>
            </div>
            </div>



          
      		
      	</div>
      	<div id="iteams" class="row">
          <h4>Iteams</h4>
      		
          <div class="iteam-strip">
              <div class="iteam-img">
                <img src="/images/sword.svg">
              </div>
              <div class="details">
                <h3>Item Name</h3>
                <h4>info</h4>
              </div>
              <div class="info">
                <div class="badge badge-default">
                  <p>2p+</p>
                </div>
            </div>
            </div>



             <div class="iteam-strip">
              <div class="iteam-img">
                <img src="/images/sword.svg">
              </div>
              <div class="details">
                <h3>Item Name</h3>
                <h4>info</h4>
              </div>
              <div class="info">
                <div class="badge badge-default">
                  <p>2p+</p>
                </div>
            </div>
            </div>


             <div class="iteam-strip">
              <div class="iteam-img">
                <img src="/images/sword.svg">
              </div>
              <div class="details">
                <h3>Item Name</h3>
                <h4>info</h4>
              </div>
              <div class="info">
                <div class="badge badge-default">
                  <p>2p+</p>
                </div>
            </div>
            </div>


             <div class="iteam-strip">
              <div class="iteam-img">
                <img src="/images/sword.svg">
              </div>
              <div class="details">
                <h3>Item Name</h3>
                <h4>info</h4>
              </div>
              <div class="info">
                <div class="badge badge-default">
                  <p>2p+</p>
                </div>
            </div>
            </div>


             <div class="iteam-strip">
              <div class="iteam-img">
                <img src="/images/sword.svg">
              </div>
              <div class="details">
                <h3>Item Name</h3>
                <h4>info</h4>
              </div>
              <div class="info">
                <div class="badge badge-default">
                  <p>2p+</p>
                </div>
            </div>
            </div>


      	</div>
    </div>
  </div>


</div>
