<div class=container>
        <br/>
        <form id="creategame" enctype="multipart/form-data"  method="post" action="/creategame">
                <input type="text" name="title" size="20"> Title<br />
                <label>Game Backstory (10000 characters): </label><br/>
                <textarea form="creategame" name="about"></textarea><br/>
                 <input type="file" name="image" /><br/>
                <input type="submit" value="Create" /> 
        </form>
</div>