<h3>Create Item</h3>
<div class=container>
        <br/>
        <form id="createitem" enctype="multipart/form-data"  method="post" action="/createitem">
                <input type="text" name="name" size="20"> Name<br />
                <input type="text" name="desc" size="20"> Desc<br />
                <input type="text" name="amount" size="20" value='10'> Amount<br />
                <input type="radio" name="type" value="item">Item /
                <input type="radio" name="type" value="equipment">Equipment<br />
                <div>
                <input type="radio" name="target" value="le">LE/
                <input type="radio" name="target" value="pe">PE/
                <input type="radio" name="target" value="se">SE/
                <input type="radio" name="target" value="me">ME 
                </div> 
                <input type="radio" name="action" value="inflict">Inflict /
                <input type="radio" name="action" value="cure">Cure<br />
                 <input type="file" name="image" /><br/>
                <input type="submit" value="Create" /> 
        </form>
</div>