<h3>Create Item</h3>
<div class=container>
        <br/>
        <form id="createitem" enctype="multipart/form-data"  method="post" action="/createitem">
                <input type="text" name="name" size="20"> Name<br />
                <input type="text" name="desc" size="20"> Desc<br />
                <input type="text" name="amount" size="20" value='10'> Amount<br />
                <input type="text" name="type" size="20" value= 'item'> Type<br />
                <input type="text" name="target" size="20" value='LE'> Target<br />
                <input type="text" name="action" size="20" value='inflict/cure'> Action<br />
                 <input type="file" name="image" /><br/>
                <input type="submit" value="Create" /> 
        </form>
</div>