<h3>Edit Stats</h3>
<div class=container>
        <br/>
        <form id="editstats" enctype="multipart/form-data"  method="post" action="/editstats" onsubmit="return validateForm()">
                <select  name=statsid size=10>
                    Name
                     <% _.each(players, function (player) { 
                        if(player.currentstats[0]){%>
                             <option value="<%=player.currentstats[0].id %>"><%=player.name%></option>
                        <%}}) %>
                </select>
                <br>
                <div>
                    <input type="radio" name="stat" value="pe">PE
                    <input type="radio" name="stat" value="se">SE
                    <input type="radio" name="stat" value="me">ME
                    <input type="radio" name="stat" value="pm">PM
                    <input type="radio" name="stat" value="mm">MM
                    <input type="radio" name="stat" value="sm">SM
                </div>

                    <input type="text" name="val" length=3 />
                <input type="submit" value="Update" /> 
        </form>
</div>

<script>
    function validateForm() {
            var x = document.forms["editstats"]["val"].value;
                var er = /^-?[0-9]+$/;
                return er.test(x);
    }
</script>