<h3>Remove NPC</h3>
<div class=container>
        <br/>
        <form id="removenpc" enctype="multipart/form-data"  method="post" action="/removenpc">
                <select id='npclist' name=npcid size=10>
                    Npcs
                </select>
                
                <br>
                <input type="submit" value="Add" /> 
        </form>
</div>
<script src="/js/dependencies/sails.io.js"></script>
<script type="text/javascript">

io.socket.on('connect', function(){
    let where = {
        user:  '<%=session.user.id%>',
        type:  'npc'
    };
		io.socket.get('/player?where='+JSON.stringify(where), function(resData, jwres) {
            $.each(resData, function (k,v) {
                    let option = '<option value="'+ v.id +'">'+v.name+'</option>';
                    $(option).appendTo('#npclist');
			});
		});
	
		io.socket.get('/game?populate=players&where={user:'+JSON.stringify(where['user'])+'}', function(resData, jwres) {
            $.each(resData, function (k,v) {
                let option = '<option value="'+ v.id +'">'+v.title+'</option>';
                $(option).appendTo('#gamelist');
            });
		});
  }); //end on connect
</script>
