html, body{
  min-height: 100%;
}
body {
  overflow-x: hidden; 
  position: relative;}

#left-sidebar {
  background: #fff; }

#profile-section {
  text-align: center;
  background: #fff; }
  #profile-section .card {
    margin-top: 50px;
    margin-bottom: 50px;
    background: #fff;
    display: inline-block;
    text-align: left; }
  #profile-section .details {
    margin-left: 17px;
    margin-right: 17px;
    padding-bottom: 10px; }
    #profile-section .details h3 {
      font-family: 'Roboto';
      font-weight: bold;
      font-size: 31px; }
    #profile-section .details p {
      font-family: 'Roboto';
      font-size: 22px;
      padding:10px;
      color: #cdced0; }
    #profile-section .details .pow {
      background: #f7fafc;
      height: 10px;
      border-radius: 40px;
      border: 1px solid #d6dde1; }
      #profile-section .details .pow .powfill {
        background: black;
        height: 10px;
        width: 103px;
        border-radius: 40px; }
  #profile-section #profile-pic {
    height: 400px;
    width: 98%;
    background: #fff;
    display: inline-block;
    text-align: center;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.3); }
    #profile-section #profile-pic .img-circle {
      height: 380px;
      width: 380px;
      margin-top: 10px;
      border-radius: 200px;
      background: #aa22aa;
      display: inline-block;
      background-image: url("../images/img_avatar.png");
      background-size: cover; }

#players-section {
  background: #fff;
  text-align: center;
  padding: 50px 10px 50px 20px;
  height: 731px; }
  #players-section .strip {
    padding: 10px 30px 10px 30px;
    margin: 10px 0px 10px 0px;
    background: #fff;
    display: inline-flex;
    border-radius: 5px;
    width: 356px;
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.3); }
    #players-section .strip .img-circle {
      height: 70px;
      width: 70px;
      border-radius: 100px;
      background: #aa22aa;
      display: inline-block;
      background-image: url("../images/img_avatar.png");
      background-size: cover; }
    #players-section .strip .details {
      margin-left: 20px;
      display: inline-block;
      width: 200px;
      text-align: left; }
      #players-section .strip .details h3 {
        font-family: 'Roboto';
        font-weight: 300;
        font-size: 22px; }
      #players-section .strip .details .pow {
        background: #d3d3d3;
        height: 10px;
        border-radius: 40px; }
        #players-section .strip .details .pow .powfill {
          background: black;
          height: 10px;
          width: 103px;
          border-radius: 40px; }

#right-sidebar {
  background: #fff; 
max-height: 800px;}
#right-sidebar h4 {
  text-align: left;
  margin-left: 22px;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 22px; }
  #equipment {
    max-height: 300px;
    background: #fff;
    padding: 10px;}
    #equipment .equipment-strip {
      display: block; position:relative;}
      #equipment .equipment-strip .details {
        display: inline-block; 
        }
        #equipment .equipment-strip .details h3 {
          font-family: 'Roboto';
          color: #000000;
          font-weight: 400;
          font-size: 22px; 
          text-align: left;}
        #equipment .equipment-strip .details h4 {
          font-family: 'Roboto';
          color: #cdced0;
          font-size: 16px; }
      #equipment .equipment-strip .info {
        margin-left: 10px;
        display: inline-block;
        position: relative; }
        #equipment .equipment-strip .info .badge {
          background: black;
          padding: 7px; }
          #equipment .equipment-strip .info .badge p {
            margin-bottom: 0px; }
            #equipment .feature {
              display: none;
              width: 262px;
              height: 100%;
              position: absolute;
              background: #2980b9;
              top: 0px;
              right: 0px;
              z-index: 23;
              padding-top: 11px; }
              #equipment .feature .img-circle {
                height: 60px;
                width: 60px;
                border-radius: 100px;
                background: #fff;
                display: inline-block;
                background-size: cover;
                padding: 10px;
                margin-left: 6px; }
                #equipment .feature .img-circle img {
                  width: 35px; }
            #equipment .selectbox {
              display: none;
              width: 262px;
              height: 230px;
              position: absolute;
              background: #fff;
              top: 0px;
              right: 0px;
              z-index: 43;
              padding: 11px;
              box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.15); }
              #equipment .selectbox .img-circle {
                border-radius: 100px;
                background: #fff;
                display: inline-block;
                background-size: cover; }
                #equipment .selectbox .img-circle img {
                  width: 60px;
                  height: 60px; }
              #equipment .selectbox .tick {
                position: absolute;
                bottom: 10px;
                right: 77px; }
                #equipment .selectbox .tick img {
                  background-color: #2ecc71;
                  padding: 11px;
                  color: white;
                  fill: white; }
              #equipment .selectbox .cross {
                position: absolute;
                bottom: 10px; }
                #equipment .selectbox .cross img {
                  background-color: #e74c3c;
                  padding: 11px;
                  color: white; }
              #equipment .selectbox .selected {
                border: 3px solid rgba(0, 0, 0, 0.72);
                box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.39); }
  #items {
    max-height: 300px;
    background: #fff;
    padding: 10px; 
  }
    #items .item-strip {
      display: block;
      position:relative; }
      
      #items .item-strip .details {
        margin-left: 10px;
        display: inline-block; }
        #items .item-strip .details h3 {
          font-family: 'Roboto';
          color: #000000;
          font-weight: 400;
          font-size: 22px; }
        #items .item-strip .details h4 {
          font-family: 'Roboto';
          color: #cdced0;
          font-size: 16px; }
      #items .item-strip .info {
        margin-left: 10px;
        display: inline-block;
        position: relative; }
        #items .item-strip .info .badge {
          float:left;
          background: black;
          padding: 7px; }
          #items .item-strip .info .badge p {
            margin-bottom: 0px; }
            #items .feature {
              display: none;
              width: 262px;
              height: 100%;
              position: absolute;
              background: #2980b9;
              top: 0px;
              right: 0px;
              z-index: 23;
              padding-top: 11px; }
              #items .feature .img-circle {
                height: 60px;
                width: 60px;
                border-radius: 100px;
                background: #fff;
                display: inline-block;
                background-size: cover;
                padding: 10px;
                margin-left: 6px; }
                #items .feature .img-circle img {
                  width: 35px; }
            #items .selectbox {
              display: none;
              width: 262px;
              height: 230px;
              position: absolute;
              background: #fff;
              top: 0px;
              right: 0px;
              z-index: 43;
              padding: 11px;
              box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.15); }
              #items .selectbox .img-circle {
                border-radius: 100px;
                background: #fff;
                display: inline-block;
                background-size: cover; }
                #items .selectbox .img-circle img {
                  width: 60px;
                  height: 60px; }
              #items .selectbox .tick {
                position: absolute;
                bottom: 10px;
                right: 77px; }
                #items .selectbox .tick img {
                  background-color: #2ecc71;
                  padding: 11px;
                  color: white;
                  fill: white; }
              #items .selectbox .cross {
                position: absolute;
                bottom: 10px; }
                #items .selectbox .cross img {
                  background-color: #e74c3c;
                  padding: 11px;
                  color: white; }
              #items .selectbox .selected {
                border: 3px solid rgba(0, 0, 0, 0.72);
                box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.39); }
#spells {
  max-height: 300px;
background: #fff;
padding: 10px; 
}
#spells .spell-strip {
  display: block;
  position:relative; }
  
  #spells .spell-strip .details {
    margin-left: 10px;
    display: inline-block; }
    #spells .spell-strip .details h3 {
      font-family: 'Roboto';
      color: #000000;
      font-weight: 400;
      font-size: 22px; }
    #spells .spell-strip .details h4 {
      font-family: 'Roboto';
      color: #cdced0;
      font-size: 16px; }
  #spells .spell-strip .info {
    margin-left: 10px;
    display: inline-block;
    position: relative; }
    #spells .spell-strip .info .badge {
      float:left;
      background: black;
      padding: 7px; }
      #spells .spell-strip .info .badge p {
        margin-bottom: 0px; }
        #spells .feature {
          display: none;
          width: 262px;
          height: 100%;
          position: absolute;
          background: #2980b9;
          top: 0px;
          right: 0px;
          z-index: 23;
          padding-top: 11px; }
          #spells .feature .img-circle {
            height: 60px;
            width: 60px;
            border-radius: 100px;
            background: #fff;
            display: inline-block;
            background-size: cover;
            padding: 10px;
            margin-left: 6px; }
            #spells .feature .img-circle img {
              width: 35px; }
        #spells .selectbox {
          display: none;
          width: 262px;
          height: 230px;
          position: absolute;
          background: #fff;
          top: 0px;
          right: 0px;
          z-index: 43;
          padding: 11px;
          box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.15); }
          #spells .selectbox .img-circle {
            border-radius: 100px;
            background: #fff;
            display: inline-block;
            background-size: cover; }
            #spells .selectbox .img-circle img {
              width: 60px;
              height: 60px; }
          #spells .selectbox .tick {
            position: absolute;
            bottom: 10px;
            right: 77px; }
            #spells .selectbox .tick img {
              background-color: #2ecc71;
              padding: 11px;
              color: white;
              fill: white; }
          #spells .selectbox .cross {
            position: absolute;
            bottom: 10px; }
            #spells .selectbox .cross img {
              background-color: #e74c3c;
              padding: 11px;
              color: white; }
          #spells .selectbox .selected {
            border: 3px solid rgba(0, 0, 0, 0.72);
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.39); }
#top-section {
  background: #f7fafc;
  border: 1px solid #e2dada; }
  #top-section .sec {
    height: 100%;
    text-align: center;
    display: inline-block; }
    #top-section .sec h1 {
      font-size: 77px;
      font-weight: 100;
      font-family: 'Roboto';
      display: inline-block;
      margin-top: 52px;
      position: relative;
      top: 18px; }
    #top-section .sec p {
      margin-top: 20px;
      font-size: 27px;
      font-weight: 100;
      font-family: 'Roboto'; }
    #top-section .sec img {
      width: 70px;
      height: 70px; }
  #top-section .sec-1 {
    background: #f7fafc; }
  #top-section .sec-2 {
    background: #f7fafc; }
  #top-section .sec-3 {
    background: #f7fafc; }

#modifiers {
  background: #f7fafc; }

#charts {
  background: #fff; }

#cards {
  background: #f7fafc;
  padding: 50px 20px 50px 20px;
  text-align: center; }
  #cards .card {
    height: 250px;
    width: 230px;
    background: #fff;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    margin: 9px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.31); }
    #cards .card .img-circle {
      border-radius: 5px;
      height: 170px;
      width: 170px;
      margin-top: 30px;
      background: #42c7d0;
      display: inline-block; }
    #cards .card p {
      text-align: left;
      margin-left: 20px;
      font-size: 23px;
      font-weight: 100;
      font-family: 'Roboto'; }

#notifications {
  background: #f7fafc;
  padding: 30px 50px 20px 50px; }
  #notifications h2 {
    margin-bottom: 10px;
    font-size: 33px;
    font-weight: 100;
    font-family: 'Roboto'; }
  #notifications .notification {
    background: #fff;
    padding: 1px 15px 6px 15px;
    margin: 15px 0px;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.31); }
    #notifications .notification h2 {
      font-size: 25px;
      font-weight: 100;
      font-family: 'Roboto'; }

.items .equipment{
  overflow:auto;
}

#right-sidebar {
  overflow:auto;
}

.remove {
  display: block;
  position:absolute;
  color: black;
  font-size: 18pt;
  right:8px;
  top:-5px;
}
.remove:hover {
  cursor:pointer;
}

#dead-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5);
}

#frozen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0, 255, 242, 0.383);
}
#blind-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgb(0, 0, 0);
}
/*# sourceMappingURL=style.css.map */
#dead-alert {
  width: 300px;
  height: 200px;
  line-height: 200px;
  position: fixed;
  top: 50%; 
  left: 50%;
  margin-top: -100px;
  margin-left: -150px;
  background-color: #ff4343;
  color: white;
  border-radius: 15px;
  text-align: center;
  font-size: 21pt;
  z-index: 11; /* 1px higher than the overlay layer */
}

#frozen-alert {
  width: 300px;
  height: 200px;
  line-height: 200px;
  position: fixed;
  top: 50%; 
  left: 50%;
  margin-top: -100px;
  margin-left: -150px;
  background-color: #055cff;
  color: white;
  border-radius: 15px;
  text-align: center;
  font-size: 21pt;
  z-index: 11; /* 1px higher than the overlay layer */
}

#blind-alert {
  width: 300px;
  height: 200px;
  line-height: 200px;
  position: fixed;
  top: 50%; 
  left: 50%;
  margin-top: -100px;
  margin-left: -150px;
  background-color: #000000;
  color: white;
  border-radius: 15px;
  text-align: center;
  font-size: 21pt;
  z-index: 11; /* 1px higher than the overlay layer */
}
.btn {
margin-bottom: 5px;}

#map{
  width: 400px;
  height: 400px;
  margin: 40px;
  display: inline-block;
}